@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@400;500;600;700&family=Noto+Sans:wght@300;400;500;700&family=Roboto&display=swap');

$mainTextColor: #404040;
$additionalTextColor: #7a7a7a;
$rareTextColor: #808080;
$buttonTextColor: #fff;
$selectedTextColor: #0052b4;
$buttonColor: #0052b4;
$headerBackgroundColor: #fff;
$mainBackgroundColor: #dfe8eb;
$footerBackgroundColor: #081627;

$mainFontFamily: 'Manrope';
$additionalFontFamily: 'Inter';

$mainSizeText: 600;
$additionalSizeText: 400;
$titleSizeText: 700;

$mainWeightText: 16px;
$titleWeightText: 44px;
$headingWeightText: 24px;
$explanatoryWeightText: 18px;
$footerWeightText: 14px;
$footerOfferWeightText: 12px;

$headerLineHeightText: 21.86px;
$buttonLineHeightText: 20px;
$titleLineHeightText: 53.02px;
$headingLineHeightText: 36.5px;
$explanatoryLineHeightText: 25.2px;
$footerLineHeightText: 19.12px;
$footerOfferHeightText: 16.39px;

.landing {
    margin: 0;
    padding: 0;
    font-family: $mainFontFamily;
    color: $mainTextColor;
}

.link:hover {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

.header {
    height: 60px;
    display: flex;
    background-color: $headerBackgroundColor;
    filter: drop-shadow(0px 4px 4px rgba(219, 219, 219, 25%));
    font-size: $mainWeightText;
    font-weight: $mainSizeText;
    line-height: $headerLineHeightText;
    &__block {
        height: 24px;
        width: 319px;
        display: flex;
        gap: 40px;
        margin-top: 18px;
        margin-left: 706px;
    }
    &__imgFlag {
        width: 48px;
        display: flex;
        gap: 8px;
        align-items: center;
    }
    &__tg {
        width: 152px;
        display: flex;
        gap: 8px;
        align-items: center;
    }
    &__button {
        height: 36px;
        width: 161px;
        display: flex;
        color: $buttonTextColor;
        background: $buttonColor;
        border-radius: 10px;
        filter: drop-shadow(0px 4px 7px rgba(0, 82, 180, 24%));
        margin-top: 12px;
        margin-left: 46px;
        align-items: center;
        gap: 10px;
        font-weight: $footerWeightText;
        line-height: $buttonLineHeightText;
    }
}

.footer {
    font-size: $footerWeightText;
    line-height: $footerLineHeightText;
}
