@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@400;500;600;700&family=Noto+Sans:wght@300;400;500;700&family=Roboto&display=swap');

$mainTextColor: #404040;
$additionalTextColor: #7a7a7a;
$rareTextColor: #808080;
$buttonTextColor: #fff;
$selectedTextColor: #0052b4;
$numberBackgroundColor: #b5d7ff;
$buttonColor: #0052b4;
$headerBackgroundColor: #fff;
$mainBackgroundColor: #dfe8eb;
$footerBackgroundColor: #081627;

$mainFontFamily: 'Manrope';
$additionalFontFamily: 'Inter';

$mainSizeText: 600;
$additionalSizeText: 400;
$titleSizeText: 700;

$mainWeightText: 16px;
$titleWeightText: 44px;
$headingWeightText: 24px;
$explanatoryWeightText: 18px;
$footerWeightText: 14px;
$footerOfferWeightText: 12px;

$headerLineHeightText: 21.86px;
$buttonLineHeightText: 20px;
$titleLineHeightText: 53.02px;
$headingLineHeightText: 36.5px;
$explanatoryLineHeightText: 25.2px;
$footerLineHeightText: 19.12px;
$footerOfferHeightText: 16.39px;

* {
    margin: 0;
    padding: 0;
}

.landing {
    font-family: $mainFontFamily;
    color: $mainTextColor;
}

.link:hover {
    cursor: pointer;
}

.additionalColor {
    color: $buttonColor;
}

.additionalWeight {
    font-weight: $mainSizeText;
}

a {
    color: inherit;
    text-decoration: none;
}

.header {
    height: 60px;
    width: 100wh;
    display: flex;
    background-color: $headerBackgroundColor;
    filter: drop-shadow(0px 4px 4px rgba(219, 219, 219, 25%));
    font-size: $mainWeightText;
    font-weight: $mainSizeText;
    line-height: $headerLineHeightText;
    &__block {
        height: 24px;
        width: 319px;
        display: flex;
        gap: 40px;
        margin-top: 18px;
        margin-left: 706px;
    }
    &__imgFlag {
        width: 48px;
        display: flex;
        gap: 8px;
        align-items: center;
    }
    &__tg {
        width: 152px;
        display: flex;
        gap: 8px;
        align-items: center;
    }
    &__button {
        height: 36px;
        width: 145px;
        display: flex;
        color: $buttonTextColor;
        background: $buttonColor;
        border-radius: 10px;
        filter: drop-shadow(0px 4px 7px rgba(0, 82, 180, 24%));
        margin-top: 12px;
        margin-left: 46px;
        align-items: center;
        font-size: $footerWeightText;
        line-height: $buttonLineHeightText;
        gap: 10px;
        padding-left: 16px;
        transition: background-color 1s;
    }
    &__button:hover {
        background-color: #bdc0c3;
    }
}

.main {
    &__topDiv {
        position: absolute;
        width: 484px;
        display: grid;
        gap: 40px;
        margin-top: 125px;
        margin-left: 13%;
    }
    &__Clipboard {
        display: flex;
        height: 36px;
        width: 36px;
        background-color: #b5d7ff;
        border-radius: 17px;
        justify-content: center;
        align-items: center;
    }
    &__typeOfQuestionnaire {
        width: 196px;
        height: 49px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: $headerBackgroundColor;
        border-radius: 46px;
        filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 4%));
    }
    &__topBlok {
        display: grid;
        gap: 14px;
    }
    &__topBlokTitle {
        height: 116px;
        color: $mainTextColor;
        line-height: $titleLineHeightText;
        font-weight: $titleSizeText;
        font-size: $titleWeightText;
    }
    &__topBlokText {
        width: 468px;
        height: 84px;
        color: $additionalTextColor;
        line-height: $headerLineHeightText;
        font-weight: $additionalSizeText;
        font-size: $mainWeightText;
    }
    &__topButton {
        height: 54px;
        width: 230px;
        display: flex;
        gap: 10px;
        align-items: center;
        border-radius: 10px;
        filter: drop-shadow(0px 4px 7px rgba(0, 82, 180, 24%));
        background-color: $buttonColor;
        color: $headerBackgroundColor;
        justify-content: center;
        line-height: $buttonLineHeightText;
        transition: background-color 1s;
    }
    &__topButton:hover {
        background-color: #bdc0c3;
    }
    &__bg {
        width: 100%;
        pointer-events: none;
    }
    &__info {
        display: grid;
        gap: 61px;
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 115px;
    }
    &__infoTitle {
        display: grid;
        gap: 16px;
        width: 701px;
        margin: auto;
        text-align: center;
    }
    &__title {
        line-height: $titleLineHeightText;
        font-weight: $titleSizeText;
        font-size: $titleWeightText;
        letter-spacing: -2px;
    }
    &__infoText {
        line-height: $headingWeightText;
        font-weight: $titleSizeText;
        font-size: $buttonLineHeightText;
        color: $rareTextColor;
        width: 600px;
        margin: auto;
    }
    &__infoBlock {
        display: flex;
        gap: 16px;
    }
    &__infoDiv {
        display: grid;
        gap: 16px;
        background-color: $headerBackgroundColor;
        justify-items: center;
        text-align: center;
        filter: drop-shadow(0px 4px 7px rgba(201, 201, 201, 25%));
        padding: 30px 24px;
    }
    &__infoBlockTitle {
        line-height: $headingLineHeightText;
        font-weight: $titleSizeText;
        font-size: $headingWeightText;
    }
    &__infoBlockText {
        line-height: $explanatoryLineHeightText;
        font-weight: $additionalSizeText;
        color: $additionalTextColor;
    }
    &__city {
        margin-top: -20px;
        width: 100%;
        pointer-events: none;
    }
    &__foooter {
        background-color: $mainBackgroundColor;
        position: relative;
        margin-top: -35px;
    }
    &__submissionOfBocuments {
        display: grid;
        position: absolute;
        width: 556px;
        gap: 68px;
        margin-left: 15%;
        margin-top: 25px;
    }
    &__submissionOfBocumentsStages {
        display: grid;
        gap: 16px;
    }
    &__submissionOfBocumentsStage {
        display: flex;
        gap: 11px;
    }
    &__stageDiv {
        display: grid;
        gap: 8px;
    }
    &__stageNumber {
        display: flex;
        background-color: $numberBackgroundColor;
        padding: 8px 15px;
        height: 22px;
        justify-content: center;
        border-radius: 17px;
    }
    &__stageTitle {
        font-size: $headingWeightText;
        line-height: $headingLineHeightText;
        font-weight: $titleSizeText;
    }
    &__stageText {
        font-size: $mainWeightText;
        line-height: $explanatoryLineHeightText;
        font-weight: $additionalSizeText;
        color: $additionalTextColor;
    }
    &__iPhone {
        margin-left: 65%;
        margin-top: 75px;
        pointer-events: none;
    }
    &__faq {
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        width: 1024px;
        display: grid;
        gap: 50px;
    }
    &__faqDetails {
        display: grid;
        gap: 16px;
    }
    details {
        background-color: $headerBackgroundColor;
        border-radius: 12px;
        padding: 24px;
        font-size: $mainWeightText;
        line-height: $explanatoryLineHeightText;
        font-weight: $additionalSizeText;
        color: $additionalTextColor;
        font-family: $additionalFontFamily;
    }
    details > div {
        padding-top: 18px;
    }
    summary {
        font-size: $headingWeightText;
        line-height: $explanatoryLineHeightText;
        font-weight: $titleSizeText;
        color: $mainTextColor;
        font-family: $mainFontFamily;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .chevron {
        height: 28px;
        width: 28px;
    }
    &__questions {
        display: grid;
        gap: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        width: 420px;
        justify-content: center;
        padding-bottom: 200px;
    }
    &__questionsMain {
        display: grid;
        gap: 20px;
        width: 305px;
        justify-content: center;
        margin: auto;
    }
    &__questionsText {
        margin: auto;
        font-size: $headingWeightText;
        line-height: $headingLineHeightText;
        font-weight: $titleSizeText;
        color: $additionalTextColor;
        letter-spacing: -1px;
    }
    &__questionsButton {
        align-items: center;
        display: flex;
        gap: 21px;
        border-radius: 12px;
        padding: 18px 68px;
        color: #fff;
        background: linear-gradient(#37bbfe, #007dbb);
    }
    &__questionsButtonText {
        font-size: $mainWeightText;
        line-height: $headerLineHeightText;
        color: $headerBackgroundColor;
    }
}

.footer {
    background-color: $footerBackgroundColor;
    height: 100px;
    font-size: $footerWeightText;
    line-height: $footerLineHeightText;
    color: $additionalTextColor;
    display: grid;
    &__divText1 {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__telegram {
        color: $headerBackgroundColor;
        display: flex;
        gap: 8px;
        align-items: center;
    }
    &__divText2 {
        margin: auto;
        display: flex;
        justify-content: space-between;
        font-size: $footerOfferWeightText;
        font-weight: $mainWeightText;
        line-height: $footerOfferHeightText;
    }
}

.authorization {
    display: flex;
    &__div {
        display: grid;
        height: 459px;
        width: 369px;
        gap: 30px;
        margin-top: 251px;
        margin-left: 106px;
    }
    &__text {
        display: grid;
        height: 135px;
        gap: 20px;
    }
    &__textTitle {
        line-height: $titleLineHeightText;
        font-size: $titleWeightText;
        font-weight: $mainSizeText;
    }
    &__textLink {
        line-height: $explanatoryLineHeightText;
        font-size: $explanatoryWeightText;
        font-weight: $additionalSizeText;
        color: $additionalTextColor;
    }
    &__textHref {
        font-weight: $titleSizeText;
        color: $buttonColor;
    }
    &__input {
        display: grid;
        height: 294px;
        gap: 40px;
    }
    &__inputText {
        color: $buttonColor;
        border: 1px solid $mainBackgroundColor;
        border-radius: 10px;
        font-size: $mainWeightText;
        line-height: $headerLineHeightText;
        font-weight: $additionalSizeText;
        padding-left: 24px;
    }
    .bg_site {
        height: 1024px;
        width: 757px;
    }
    .input_img {
        position: relative;
    }
    .eye {
        margin-top: 123px;
        margin-left: 328px;
        position: absolute;
    }
    input::placeholder {
        color: $buttonColor;
    }
    &__button {
        background-color: $buttonColor;
        color: $buttonTextColor;
        filter: drop-shadow(0px 0px 7px rgba(0, 82, 180, 24%));
        border: none;
        border-radius: 10px;
        padding: 16px 34px;
        height: 58px;
        width: 369px;
        font-size: $headingWeightText;
        line-height: $explanatoryLineHeightText;
        font-weight: $mainSizeText;
        transition: background-color 1s;
    }
    &__button:hover {
        cursor: pointer;
        background-color: $mainBackgroundColor;
    }
}

.registration {
    display: flex;
    &__div {
        display: grid;
        height: 785px;
        width: 369px;
        gap: 30px;
        margin-top: 88px;
        margin-left: 106px;
    }

    &__inputAndButt {
        display: grid;
        height: 620px;
        gap: 40px;
    }
    &__input {
        height: 522px;
        display: grid;
        gap: 30px;
    }
    input::placeholder {
        color: $buttonColor;
    }
}
